<template name="single_header">
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo" style="margin-left: 15px;">Logo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down" style="margin-left: 100px;">
        <li><a href="#">Home</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Help</a></li>
      </ul>

      <div class="right hide-on-med-and-down" style="margin-right: 20px;">
        <a href="test/login">Login</a> |
        <a href="#">Sign Up</a>
      </div>
    </div>
  </nav>
</template>
